*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Area Cabecalho e menu*/
header{
    height: 100px;
    background-color: #1a558d;
}
.header{   
   display: flex; 
   align-items: center;
   max-width: 1140px;
   height: 100px;
   margin: auto;
   color: #fff;
}
.logo_header{
width: 200px;


}
.logo_hd{
    width: 150px;
    height: 84px;
    background-color: black;
}
.menu{
flex: 1;
display: flex;

}
.menu ul,
.menu li{
    list-style: none;
}
.menu ul{
    display: flex;
}
.menu li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    height: 100px;
}

.menu li a:hover,
.menu .active a{
    border-bottom: 3px solid rgb(3, 251, 24);
    color: rgb(255, 163, 16);
}

.banner{
    
        height: calc(100vh - 100px);
        background-color:#333;
        background-image: url('../imagens/imagembanner1.jpg');
        background-size: cover;
        background-position: bottom;
        overflow: hidden;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .banner_titulo{
        width: 450px;
        color: #fff;
    }
    .banner2{
    
        height: calc(100vh - 100px);
        background-color:#333;
        background-image: url('../imagens/defycity.jpg');
        background-size: cover;
        background-position: bottom;
        overflow: hidden;
        display: flex;
        justify-content: flex-end;
        align-items: center;
       
    }

   .banner2 div{
    color: black;
   }

   .banner3{
    
    height: calc(100vh - 100px);
    background-color:#333;
    background-image: url('../imagens/MI5.jpg');
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
   
}
.banner3 .banner_titulo{
    color: black;
}
.banner4{
    
    height: calc(100vh - 100px);
    background-color:#333;
    background-image: url('../imagens/XI4.jpg');
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;
   
}

.banner4 .banner_titulo{
    color: black;
}





